.navbar-brand {
  font-family: 'Lobster';
  font-size: 2rem;
  color: rgb(90, 90, 90) !important;
}

.form-group {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.skinny-form {
  max-width: 300px;
}

#main {
  max-width: 100vw !important;
  overflow: scroll;
}

@media (max-width: 600px) {
  .p-5 {
    padding: 3rem 0 3rem 0 !important;
  }
  form {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}